---
// src/components/Footer.astro
import { FOOTER_NAVIGATION } from "../../utils/footerData";
import { useTranslations } from "../../utils/i18n";

//const currentIso = 'es';
const { lang = "es" } = Astro.props;
const footerData = FOOTER_NAVIGATION.find((f: any) => f.iso === lang) || FOOTER_NAVIGATION[0];
---

<footer class="bg-[#100f1f] text-white pt-8 pb-6">
  <div class="container mx-auto px-4 pt-6">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold text-blueGray-700">Electric Automation Network S.L.</h4>
        <h5 class="text-sm mt-2 mb-2 text-blueGray-600">Av. Comarques de País Valencià 123 46930 Quart de Poblet Spain</h5>
        <h5 class="text-sm mt-0 mb-2 text-blueGray-600">Email: info@electricautomationnetwork.com</h5>
        <h5 class="text-sm mt-0 mb-2 text-blueGray-600">Europe +34 960 640071</h5>
        <h5 class="text-sm mt-0 mb-2 text-blueGray-600">USA +1 305 4472905</h5>

        <div class="mt-6 lg:mb-0 mb-6 flex">
          <a
            href="https://www.youtube.com/user/ElectricAutomation"
            target="_blank"
            class="bg-white/10 p-2 rounded-full hover:bg-red-600 transition-all"
          >
            <span class="sr-only">Youtube</span>
            <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24"
              ><path
                d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
              ></path></svg
            >
          </a>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-blueGray-500 text-sm font-bold mb-2">{footerData.titleInfo}</span>
            <ul class="list-unstyled">
              {
                footerData.infoLinks.map((item: any) => (
                  <li>
                    <a href={item.href} class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                      {item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-blueGray-500 text-sm font-bold mb-2 sm:mt-4 md:mt-4 lg:mt-0">{footerData.titleAccount}</span>
            <ul class="list-unstyled">
              {
                footerData.accountLinks.map((item: any) => (
                  <li>
                    <a href={item.href} class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                      {item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
