---
import "../styles/global.css";
import Navbar from "../components/navigation/Navbar.astro";
import PageHeader from "../components/navigation/PageHeader.astro";
import { appData } from "../data";
import StickyForm from '../components/conversion/StickyForm.astro';
import StickyController from '../components/conversion/StickyController.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = appData.name, description = appData.description } = Astro.props;

// Esto ayuda a que Google sepa exactamente cuál es la URL principal
const canonicalURL = new URL(
  Astro.url.pathname,
  Astro.site || "http://localhost:4321",
);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-slate-50 text-ean-text antialiased">
    <Navbar />

    <div
      class="mx-auto min-h-screen max-w-full px-4 lg:max-w-7xl flex flex-col"
    >
      <PageHeader />

      <main class="grow mt-4">
        <slot />
      </main>

      <footer
        class="py-10 text-center text-sm text-ean-dark border-t border-gray-200 mt-20"
      >
        &copy; {new Date().getFullYear()} - Documentación Técnica Oficial
        <StickyForm isSticky={false}></StickyForm>
      </footer>
      <StickyForm></StickyForm>
      <StickyController></StickyController>
    </div>
  </body>
</html>
